<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.zinc.min.css">
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Dashboard</title>
</head>

<body>
    <main class="container">
        <h1>Network Monitor</h1>

        <article>
            <p>Last query time: {{last_query_time | datetimefilter}}</p>
        </article>

        <article>
            <details open>
                <summary>Quick View</summary>
                <table class="striped">
                    <thead>
                        <th>Name</th>
                        <th>Device Name</th>
                        <th>Connected</th>
                        <th>Device Type</th>
                        <th>Notify</th>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td>{{device.friendly_name}}</td>
                            <td>{{device.device_name}}</td>
                            <td>
                                {% if (device.last_connected_date | datetimefilter) == (last_query_time | datetimefilter)%}
                                🟢
                                {% else %}
                                {{device.last_connected_date | datetimefilter}}
                                {% endif %}
                            
                            </td>
                            <td>{{device.device_type}}</td>
                            <td>{{'✔' if device.notify_on_connect else '❌'}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </details>
        </article>
        
        <article>
            <details closed>
                <summary>Detailed View</summary>
                <table class="striped">
                    <thead>
                        <th>Name</th>
                        <th>Device Name</th>
                        <th>Manufacturer</th>
                        <th>IP Address</th>
                        <th>MAC Address</th>
                        <th>Last Connected UTC</th>
                        <th>Device Type</th>
                        <th>Notify</th>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td>{{device.friendly_name}}</td>
                            <td>{{device.device_name}}</td>
                            <td>{{device.vendor_name}}</td>
                            <td>{{device.ip_address}}</td>
                            <td>{{device.mac_address}}</td>
                            <td>{{device.last_connected_date}}</td>
                            <td>{{device.device_type}}</td>
                            <td>{{device.notify_on_connect}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </details>

        </article>
    </main>
</body>

</html>