---
import ExpandableCard from '../components/ExpandableCard.astro';
import DeviceTable from '../components/DeviceTable.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main class="container">
		<article>
			<p>Last Query Time:</p>
		</article>		

		<ExpandableCard title='Quick View' isOpen={true}>
			<DeviceTable/>
		</ExpandableCard>
		<ExpandableCard title='Detailed View' isOpen={false}>
			<DeviceTable/>
		</ExpandableCard>
	</main>
</Layout>
<script>
	
</script>
